OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDINGS_MODEL=text-embedding-ada-002
OPENAI_BASE_URL=https://litellm.aks-hs-prod.int.hyperskill.org/openai
LITELLM_API_KEY=<>

QDRANT_URL=https://<cluster-endpoint>
QDRANT_API_KEY=<>

REDIS_URL=redis://localhost:6380/0

LANGFUSE_SECRET_KEY=<>
LANGFUSE_PUBLIC_KEY=<>
LANGFUSE_HOST=http://localhost:3000
